/* --------------CLIENTS ------------*/
.clients {
  background: #ffffff; /*#f5f5f5;*/
  padding: 94px 0 94px 0;

  &-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
  }
  &-list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  &-link {
    transition-duration: var(--animation-time);
    transition-property: fill, border-color;
    transition-timing-function: var(--animation-function);

    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;

    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    &:hover {
      fill: var(--accent-color);
      /*border: var(--accent-color);*/
      border-color: var(--accent-color);
    }
    &:focus {
      fill: var(--accent-color);
    }
  }
}
