/* --------------FOUTER ------------*/

.footer {
  background: #2f303a;
  padding: 60px 0px;
}
.footer__container {
  display: flex;
}
.footer__left-part {
  margin-right: 70px;
}

.footer-log {
  transition-duration: 250ms;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--s-second-text-color);

  &:hover {
    transform: scale(1.1);
  }

  & span {
    color: #2196f3;
  }
}
.footer__link-log {
  margin-bottom: 20px;
}
.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list__link-address {
  transition-property: color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--animation-function);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--s-second-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
/*.footer-link-address::after {
  content: "    ";
}*/
.footer-list__link {
  transition-property: color;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--animation-function);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer__footer-soc {
  margin-right: 94px;
}
.footer-soc {
  max-width: 206px;
  padding-top: 12px;

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--s-second-text-color);
    margin-bottom: 20px;
  }

  &-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    &__item {
      display: block;
    }
    &__link {
      transition-duration: var(--animation-time);
      transition-property: background-color;
      transition-timing-function: var(--animation-function);

      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      fill: var(--main-accent-color);
      background: rgba(255, 255, 255, 0.1);
      &:hover,
      &:focus {
        background-color: var(--accent-color);
      }
    }
  }
}

.footer-form {
  /* max-width: 570px;*/
  padding-top: 12px;

  &__title {
    /*font-style: normal;*/
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--s-second-text-color);
    /*text-align: center;*/
    margin-bottom: 12px;
  }

  &-box {
    display: flex;
  }
  &-input {
    transition-duration: var(--animation-time);
    transition-property: border;
    transition-timing-function: var(--animation-function);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: #2f303a;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 10px;
    /*margin-right: 12px;*/
    &:focus {
      border: 1px solid var(--select-icon-color);
      /*utline: none;*/
    }
  }
}
.footer-form-label__mr {
  margin-right: 12px;
}

.footer-icon-send {
  /* margin-left: 10px;
  margin-right: 28px;*/
  display: flex;
  align-items: center;
}

.footer-btn {
  transition-duration: var(--animation-time);
  transition-property: opacity;
  transition-timing-function: var(--animation-function);
  padding: 8px 0px 8px 28px;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-btn-color);

  &__icon {
    margin-left: 10px;
    margin-right: 28px;
  }
  &:hover {
    opacity: 0.8;
  }
}
