/* --------------HEADER ------------*/
.header {
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  @include no-mobile {
    display: none;
  }
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}
.header-nav__header-link-log {
  margin-right: 93px;
  @include no-mobile {
    margin-right: 276px;
  }
  @include dn-mobile {
    margin-right: 100%;
  }
}
.header-link-log {
  transition-duration: var(--animation-time);
  transition-property: transform;
  transition-timing-function: var(--animation-function);

  display: inline-block;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
  &:hover {
    transform: scale(1.1);
  }

  & span {
    color: #2196f3;
  }
}

.header-list__link {
  transition-duration: var(--animation-time);
  transition-property: color;
  transition-timing-function: var(--animation-function);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  /*color: var(--accent-color);*/
  position: relative;

  &::after {
    content: "";
    transition-duration: var(--animation-time);
    transition-property: opacity;
    transition-timing-function: var(--animation-function);

    opacity: 0;
    position: absolute;
    left: 0px;
    bottom: -28px;
    display: inline-block;
    background-color: var(--accent-color);
    height: 4px;
    width: 100%;
    border-radius: 2px;
  }
  &:hover::after {
    opacity: 1;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &_activ {
    color: var(--accent-color);
    &::after {
      opacity: 1;
    }
  }
}

.heade-list {
  margin-left: auto;
  @include no-mobile {
    display: none;
  }
  @include desktop {
    display: flex;
  }
}
.heade-list__item:not(:last-child) {
  margin-right: 50px;
}
.heade-list__link-communication {
  transition-duration: var(--animation-time);
  transition-property: color;
  transition-timing-function: var(--animation-function);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
  &:hover {
    color: var(--accent-color);
    /*fill: var(--accent-color);*/
  }
  &:focus {
    color: var(--accent-color);
  }
}

.heade-list__icon {
  margin-right: 10px;
  fill: currentColor;
  /*outline: 2px solid red;*/
}

.header-menu-open {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  /*border: 0px;*/
  /*padding: 0px;*/
  outline: 2px solid orange;
  fill: #212121;
  @include tablet {
    display: none;
  }
  &:hover {
    fill: #2196f3;
  }
}
.header__menu-open {
  margin-left: auto;
}

.mobile-menu {
  position: fixed;
  /* position: absolute;*/
  z-index: 1;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 796px;
  padding: 10px 15px 48px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  width: 100vw;
  height: 100vh;

  > .container {
    height: 100%;
    width: 100%;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
  }

  @include tablet {
    display: none;
  }
}
/*.menu-nav {
  margin-top: 38px;
}*/

/*.menu-list {
  margin-top: 38px;
}*/

.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-list__item-com:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__menu-list-com {
  margin-top: 302px;
  margin-bottom: 64px;
}

.header-menu-close {
  /* position: absolute;
  top: 0px;
  right: 0px;
  transform: translateX(calc(0%));
  width: 40px;
  */

  /*border: 0px;*/
  height: 40px;
  outline: 2px solid orange;
  background-color: #ffffff;

  fill: #212121;
  /* @include tablet {
    display: none;
  }*/
  &:hover {
    fill: #2196f3;
  }
}
.header__menu-close {
  display: block;
  margin-left: auto;
}
/*
.menu-list__item {
}*/
.menu-list__link {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 0.99px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  &:hover {
    color: var(--second-s-text-color);
  }
}
.menu-list__link_activ {
  color: var(--second-s-text-color);
}

.menu-list-link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--second-s-text-color);
}
.menu-list-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.menu-soc-list {
  display: flex;
}
.menu-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.menu-soc-list__soc-line {
  border-left: 2px solid rgba(33, 33, 33, 0.2);

  /* outline: 2px solid orange;*/
  margin-left: 10px;
  margin-right: 10px;
}
/*.menu-soc-link::after {
  contain: "";
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  /*transform: rotate(90deg);
}*/
