/* --------------INFO ------------*/
.info {
  background: #f5f4fa;
  padding: 94px 0;
}

.info-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}
.info-list {
  display: flex;
  justify-content: space-between;
}
.info-item {
  text-align: center;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.info-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.info-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /*text-align: center;*/
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-top: 30px;
  margin-bottom: 10px;
  /*width: 270px;*/
}

.info-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 16px;
}
.info-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;

  &-link {
  transition-duration: var(--animation-time);
  transition-property: fill, background-color;
  transition-timing-function: var(--animation-function);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /*background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  &:hover,
&:focus {
  fill: var(--main-accent-color);
  background-color: var(--accent-color);
}
}
/*.info-soc-icon {
  outline: 2px solid black;
} */


}

