/* --------------SLOGAN ------------*/
.slogan {
  /* display: block;*/
  /*max-width: 100%;*/

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  @include desktop {
    height: 600px;
  }

  /*background-color: #c4c4c4;*/
  background: rgba(47, 48, 58, 0.4);

  /* background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/slogan-img.jpg);*/

  /* background-image: url(../images/tablet/slogan-tab-img.jpg);*/
  background-image: url(../images/mobile/slogan-img.jpg);
  /*@include mobile {
    
    background-image: url(../images/tablet/slogan-tab-img.jpg);
  }*/
  @include tablet {
    /* background-image: url(../images/tablet/slogan-tab-img.jpg);*/
    background-image: url(../images/tablet/slogan-tab-img.jpg);
  }
  @include desktop {
    background-image: url(../images/desktop/slogan-desktop-img.jpg);
  }

  padding-top: 118px;
  padding-bottom: 118px;
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  background-repeat: no-repeat;
}
.slogan-text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
  }

  letter-spacing: 0.06em;
  text-transform: uppercase;
  @include no-tablet {
    font-size: 26px;
    line-height: 1.62;
  }
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  @include desktop {
    max-width: 696px;
  }
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.slogan-btn {
  transition-duration: var(--animation-time);
  transition-property: opacity;
  transition-timing-function: var(--animation-function);

  background: var(--second-btn-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);

  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  @include desktop {
    width: 216px;
  }

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  &:hover {
    /*background: #b808fa;*/
    opacity: 0.9;
    /*cursor: pointer;*/
  }
}
