.container {
  width: 100%; /*1200px;*/
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include mobile-dn {
    /*width: calc(100% - 30px); /*calc(100% - 30px); /*290px;*/
    outline: 2px solid yellow;
    /* padding-left: 0px;
    padding-right: 0px;*/
    /* margin-left: 0;
    margin-right: 0;*/
  }
  /* @include mobile {
    width: 480; /*calc(100% - 30px); /*430px;
    outline: 2px solid red;
  }*/
  @include tablet {
    width: 768px;
    outline: 2px solid blue;
  }
  @include desktop {
    width: 1200px;
    outline: 2px solid green;
  }
}
