/*---------------MODAL-WINDOW-------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /*background-color: rgba(48, 48, 48, 0.467);*/
  transition: opacity 500ms linear, visibility 500ms;
  &.modal {
    /*.backdrop.is-hidden .modal*/
    transform: translate(-50%, -50%) scale(0) rotate(0);
    min-height: 0;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  height: 581px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;
  transition: transform var(--animation-time) var(--animation-function),
    min-height var(--animation-time) var(--animation-function);

  /*transition: transform 500ms linear, min-height 500ms linear;*/
  &-close {
    position: absolute;
    right: 10px;
    top: 10px;

    border: none;
    background-color: #fff;
    &-svg {
      position: relative;
    }
    &-btn {
      /*position: relative;*/
      transition-duration: var(--animation-time);
      transition-property: opacity;
      transition-timing-function: var(--animation-function);
      position: absolute;
      right: 0px;
      /*top: 0px;*/

      opacity: 1;
      &-blue {
        transition-duration: var(--animation-time);
        transition-property: opacity;
        transition-timing-function: var(--animation-function);
        position: absolute;
        right: 0px;
        /*top: 0px;*/
        opacity: 0;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
    margin-bottom: 12px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*-------------------------------------------FORM---------------------------------------------------*/

.modal-form-data {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;

  letter-spacing: 0.01em;

  color: var(--second-text-color);
  margin-bottom: 4px;
  &-box {
    position: relative;
    margin-bottom: 10px;
  }
}

.modal-form-input {
  transition-duration: var(--animation-time);
  transition-property: border;
  transition-timing-function: var(--animation-function);

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /*margin-bottom: 10px;*/
  padding-left: 42px;
  outline: none;
  &:focus {
    border: 1px solid var(--select-icon-color);
    /*utline: none;*/
  }
  &:focus + .form-icon {
    fill: var(--select-icon-color);
  }
}

.form-icon {
  transition-duration: var(--animation-time);
  transition-property: fill;
  transition-timing-function: var(--animation-function);
  position: absolute;
  left: 12px;
  top: 50%;
  /*transform: translateY(25%);*/
  /* outline: 2px solid red;*/
}
.modal-form-textarea-box {
  margin-bottom: 20px;
}
.modal-form-text {
  /*font-style: normal;*/
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;

  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-bottom: 4px;
}

.modal-form-textarea {
  display: block;
  transition-duration: var(--animation-time);
  transition-property: border;
  transition-timing-function: var(--animation-function);

  width: 120px;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;

  color: rgba(117, 117, 117, 0.5);
  /*margin-bottom: 20px;*/
  outline: none;
  &:focus {
    border: 1px solid #2196f3;
  }
}

.modal-form-span {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);

  padding-left: 23px;
  &-color {
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: underline;

    color: var(--modal-text-color);
  }
}

.form-icon-checbox {
  position: absolute;
  left: 14px;

  /* outline: 2px solid red;*/
  box-shadow: none;
  z-index: 0;

  &-activ {
    transition-duration: var(--animation-time);
    transition-property: z-index;
    transition-timing-function: var(--animation-function);
    display: block;
    position: absolute;
    left: 14px;

    /*outline: 2px solid blue;*/
    background-color: #fff;
    box-shadow: none;
    z-index: 0;
  }
}

.modal-form-input-chb:checked + .form-icon-checbox {
  z-index: 1;
  /* outline: 2px solid green;*/
}
.modal-form-btn {
  transition-duration: var(--animation-time);
  transition-property: opacity;
  transition-timing-function: var(--animation-function);

  display: block;
  padding: 10px 52px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-btn-color);
  &:hover {
    opacity: 0.8;
  }
}
