body {
  max-width: 1600px;
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/*For invisible titles*/

.footer-address {
  font-style: normal;
}

