/*Definition of variables*/
:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --main-btn-color: #ffffff;
  --second-btn-color: #2196f3;
  --accent-color: #2196f3;
  --select-icon-color: #2196f3;
  --main-accent-color: #ffffff;
  --s-second-text-color: #ffffff;
  --animation-time: 250ms;
  --main-icon-color: #212121;
  --modal-text-color: #2196f3;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}
